<div>
  <h2>Congratulations on booking <%= @booking.plant.name %></h2>
  <div class="container">
    <div class="card-product">
      <img src="https://media.jardinitis.com/product/bonsai-zelkova-parvifolia-olmo-800x800.jpeg" />
      <div class="card-product-infos">
        <h2><%= @booking.plant.name %></h2>
        <p>Booked from <%= @booking.start_date %> until <%= @booking.end_date %></p>
        <p>Status: <strong><%= @booking.status.capitalize %></strong></p>
        <p><strong>Total price:</strong> <%= number_to_currency(booking.total_price) %></p>
      </div>
    </div>
  </div>
</div>

