<div id="map"
    style="width: 100%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class= "container">

  <div class="index-header">
    <h3 class="my-3"> There's a lot to discover here </h3>
  </div>

  

  <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-4">
          <%= link_to plant_path(plant), class: "plant-card-link" do %>
            <div class="card-plant mb-3">
              <% if plant.photo.attached? %>
                <%= cl_image_tag plant.photo.key, crop: :fit %>
              <% else %>
                <%= cl_image_tag("placeholder-plant", crop: :fit) %>
              <% end %>
              <div class="card-plant-infos">
                <div>
                  <h2><%= plant.name.capitalize %></h2>
                </div>
                <h2 class="card-plant-pricing"><%= number_to_currency(plant.price, precision: 0) %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
