<div class="container">
  <div class="container-plant-show">
    <h2> <%= @plant.name %> </h2>
    <% if @plant.photo.attached? %> 
      <%= cl_image_tag @plant.photo.key, width: 500, height: 300, crop: :fill %> 
    <% else %>
      <%= cl_image_tag("placeholder-plant", width: 500, height: 300, crop: :fill) %>
    <% end %>
    <div class="plant-details">
      <div class="plant-info-avatar">
        <h3>details</h3>
        <p><%= @plant.description %></p>
      </div>
      <div class="booking-details">
        <p><%= @plant.price %></p>
          <%= link_to "Book", new_plant_booking_path(@plant), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>